*.exe
*.obj
*.dll
*.exp
*.map
*.lib
*.s
*.output
*.c.parser
*.o
*.so*
*.dep
*.zip
kinx
timex
myacc
/.vscode
/kinxpkg
/benchmark
/bench
timeit.dat
/x86.ins
/x64.ins
/mips.ins
/arm.ins
/x86.spec
/mips.spec
*.pdb
*.res
*.db
kinx.map
kx.tab.c
kx.tab.h
package_win64.zip
temp*
TEMP*
src/opt*.c
/KiTTy_jp.json
/KiTTy_jp.pdf
/memo.*
/kinx
/kxrepl
/kxtest
/*.so*
/TEST.md
/*.deb
