*.exe
*.obj
*.dll
*.exp
*.map
*.lib
*.s
*.output
*.c.parser
*.o
*.a
*.so*
*.dep
*.zip
kinx
timex
myacc
/.vscode
/kinxpkg
/benchmark
/bench
src/opt*.c
src/extlib/onig
src/extlib/libclipboard
src/extlib/libmodules
timeit.dat
/x86.ins
/x64.ins
/mips.ins
/arm.ins
/x86.spec
/mips.spec
*.pdb
*.res
*.db
kinx.map
kx.tab.c
kx.tab.h
package_win64.zip
temp*
TEMP*
/memo.*
/kinx
/kxkitty
/kxrepl
/kxsel
/kxtest
/main_kxcmd
/build/kinx
/build/kxkitty
/build/kxrepl
/build/kxsel
/build/kxtest
/build/main_kxcmd
/*.so*
/TEST.md
/*.deb
/lib/package
