# Kinx highlight is currently not supported but...
*.kx          text linguist-language=Kinx
.spectest     text linguist-language=JSON linguist-detectable

# exclude files in directories below from github stats
src/extlib/**/*.c       linguist-vendored
src/extlib/**/*.cpp     linguist-vendored
src/extlib/**/*.h       linguist-vendored
src/extlib/**/*.py      linguist-vendored
src/extlib/**/*.sh      linguist-vendored
src/extlib/**/*.bat     linguist-vendored
src/extlib/**/*.cmd     linguist-vendored
src/extlib/*/README.md  -linguist-vendored
src/extlib/*/x64/**     -linguist-vendored binary
