*.exe
*.obj
*.dll
*.exp
*.lib
*.s
*.output
*.c.parser
*.o
*.so*
*.dep
kinx
timex
myacc
benchmark
src/parser.c
include/parser.tab.h
timeit.dat
/x86.ins
/x64.ins
/mips.ins
/arm.ins
/x86.spec
/mips.spec
*.pdb
*.res
*.db
kinx.map
