name: Unit Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: install
        run: |
          cd build
          make
          sudo make install
          cd ..
      - name: run test
        run: kinx --exec:spectest -v
